In [1]:
import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('Solarize_Light2')

In [2]:
sales_df = pd.read_csv('train.csv')
sales_df['source'] = 'train'
test_df = pd.read_csv('test.csv')
test_df['source'] = 'test'
submission = pd.read_csv('submission.csv')

In [ ]:
data_df =

In [3]:
sales_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [23]:
sales_df.apply(lambda x: sum(x.isnull()))

Item_Identifier                 0
Item_Weight                  1292
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [24]:
sales_df.apply(lambda x: len(x.unique()))

Item_Identifier              1559
Item_Weight                   416
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     4
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [ ]:
categorical_features = [x for x in ]

In [6]:
def fill_weight_null(data, weight_col_name, item_id_name):
    null_index = data[data[weight_col_name].isnull()].index
    no_null_data = data[data[weight_col_name].notnull()]
    for i in null_index:
        item_identifier = data.iloc[i][item_id_name]
        weight = no_null_data[no_null_data[item_id_name] == item_identifier][weight_col_name].unique()
        if weight:
            data.at[i, weight_col_name] = weight[0]
        else:
            data = data.drop(i)
            
    return data

In [7]:
sales_df[sales_df['Item_Identifier'] == 'FDA15']['Item_Weight'].values

array([9.3, 9.3, 9.3, 9.3, 9.3, 9.3, nan, 9.3])

In [8]:
null_sales = sales_df[sales_df['Item_Weight'].isnull()]
no_null_data = sales_df[sales_df['Item_Weight'].isnull()]

In [9]:
fill_weight_null(sales_df, 'Item_Weight', 'Item_Identifier').info()

/home/rlllok/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  import sys

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8522 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8522 non-null   object
 1   Item_Weight                8522 non-null   float64
 2   Item_Fat_Content           8522 non-null   object
 3   Item_Visibility            8522 non-null   float64
 4   Item_Type                  8522 non-null   object
 5   Item_MRP                   8522 non-null   float64
 6   Outlet_Identifier          8522 non-null   object
 7   Outlet_Establishment_Year  8522 non-null   int64
 8   Outlet_Size                6112 non-null   object
 9   Outlet_Location_Type       8522 non-null   object
 10  Outlet_Type                8522 non-null   object
 11  Item_Outlet_Sales          8522 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.2+ MB

In [160]:
sales_df.corr()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Weight,1.000000,-0.014626,0.028668,-0.015920,0.017773
Item_Visibility,-0.014626,1.000000,-0.001315,-0.074834,-0.128625
Item_MRP,0.028668,-0.001315,1.000000,0.005020,0.567574
Outlet_Establishment_Year,-0.015920,-0.074834,0.005020,1.000000,-0.049135
Item_Outlet_Sales,0.017773,-0.128625,0.567574,-0.049135,1.000000

In [16]:
sales_df['Outlet_Size']

0       Medium
1       Medium
2       Medium
3          NaN
4         High
         ...
8518      High
8519       NaN
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object